#root {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
}

.list {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px;

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.chef-cap {
    width: 100px;
}

.head-text {
    font-size: 50px;
    font-family: "Bungee Spice", sans-serif;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px 10px;
}

.input-field {
    flex: 1 1 150px;
    min-width: 150px;
    max-width: 400px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.add-btn {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    flex-shrink: 0;
}

.send-box {
    background-color: rgba(197, 197, 205, 0.751);
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 0 auto;
}
.head-name {
    font-family: "Roboto", sans-serifl;
}
.Explain {
    font-family: "Roboto", sans-serif;
}

.gen-btn {
    font-family: "Roboto", sans-serif;
    background-color: rgba(78, 78, 179, 0.667);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

.recipe-card {
    display: flex;
    color: #475467;
    line-height: 28px;
    font-style: 1.125rem;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    max-width: 600px;
    margin: 40px auto; /* Centers the component */
    padding: 30px 10px;
}
